{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom"></div>



<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Covid-19:</strong><a href="https://www.mygov.in/covid-19" class="alert-link"> Guidelines</a> for travelling in India
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>





<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-6" style="margin-top: 160px;">
        <h1 style="text-align: center;">HOW BUSY IS YOUR FAVOURITE TOURIST DESTINATION?</h1>
        <div style="text-align: center;">
        <p>Predict and Avoid Crowd smartly with us.... </p>
        <form action="/page2/" method="post">
          {% csrf_token %}
        <small>Enter number of the week:</small><br>
        <input type="text" name="week"><br>
        <small>Enter destination:</small><br>
        <input type="text" name="city">
        <br>
        <br>
        <input type="submit" class="btn btn-info" value="Search">
      </form>
        </div>
      </div>
      <div class="col-md-6">
        <img class="load"  src="https://source.unsplash.com/960x640/?beach,mountains,tourism" alt="Image" 
           style = "height: auto; margin-top: 100px; margin-left: 50px; width: 100%; max-width:585px;">
      </div>
    </div>  
</div>  


</div>  
<script>
  var myVar;
  
  function myFunction() {
    myVar = setTimeout(showPage, 200);
  }
  
  function showPage() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("myDiv").style.display = "block";
  }
  </script>
{% endblock %}